.main {
    padding: 0px 10px;
    background-color: rgba(197, 218, 252,0.3);
    width: 100px;
    height: 520px;
    overflow: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.foto {
    width: 100px;
    height: 100px;
}